*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.externalNativeBuild
.cxx

# Android build folders
android/build/
android/app/build/
android/.gradle/
android/.kotlin/
android/local.properties
android/captures/

.cursorrules

log.txt